<form action="/artists/<%= artist[:id] %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="name" value="<%= artist[:name] %>">
  <input type="text" name="genre" value="<%= artist[:genre] %>">
  <button type="submit">Update Artist</button>
</form>