<div id="form_container">
  <form action="/artists/<%= artist[:id] %>" method="post">
    <input type="hidden" name="_method" value="PUT"/>
    <label for="name">New Name</label>
    <input type="text" name="name" value="<%= artist[:name] %>"/>
    <label for="genre">New Genre</label>
    <input type="text" name="genre" value="<%= artist[:genre] %>"/>
    <button type="submit">Update Artist</button>
  </form>
</div>

<div id="form_container">
  <form action="/artists/<%= artist[:id] %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
  </form>
</div>